body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f5;
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  padding-top: 10px;
  padding-right: 100px;
  border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
  color: #6c757d;
  font-weight: bold;
  padding: 10px 20px;
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: #ff7a00;
  border-radius: 0 15px 15px 0;
}

.sidebar .nav-link:hover {
  background-color: #ffe5d0;
  color: #6c757d;
  border-radius: 0 15px 15px 0;
}

.sidebar .nav-link i {
  margin-right: 10px;
}

.sidebar img {
  margin-bottom: 20px;
}

.sidebar .text-center {
  /* margin-top: 10px; */
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 1px solid #dee2e6;
}

.header h1 {
  font-size: 24px;
  color: #343a40;
}

.header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.welcome-message {
  background-color: #e9f7f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.biodata,
.warning {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.biodata img {
  border-radius: 5px;
}

.biodata table {
  width: 100%;
}

.biodata table td {
  padding: 5px 0;
}

.btn-generate {
  background-color: #ff7a00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.warning {
  color: #fff;
}

.bg-white {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.footer {
  background-color: #fff;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dee2e6;
}

.table th,
.table td {
  vertical-align: middle;
}

.btn-detail {
  background-color: #ff7a00;
  color: #fff;
}

.btn-detail:hover {
  background-color: #ff7a00;
}

.form-select {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
    border-right: none;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header img {
    margin-top: 10px;
  }
}
